
#notifications li {
	font-family: Helvetica;
	padding: 1em 0;
}

#messages li {
	font-family: Helvetica;
	padding: 1em 0;
}

#date.right {
	color: #A9A9A9;
	float: right;
}

#lentOn.right {
	color: #FF0000;
	float: right;
	padding-right: 10px;
	font-size: 12px;
}

#sent{
	color: black;
}