#b{
	/*background-color: #fdf5e6;*/
	background: url(../img/galaxy.jpg);
	padding-top: 70px;
	/*padding-left: 50px;*/
}

#background_img{
	opacity: 0.7;
}

#box{
	border-radius: 5px;
	margin: 15px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(221, 219, 219, 0.5);
}
